:root {
	--bg-color: rgb(30,30,50);
	--accent-color: white;
}

[data-theme="light"] {
	--bg-color: white;
	--accent-color: unset;
}

h1 {
	font-family: "Josefin Slab";
	font-weight:300;
	font-size: 50px;
}

h2 {
	font-family: "Josefin Slab";
	font-weight:300;
	font-size: 30px;
}

body {
	font-family: "Roboto";
	font-weight: 300;
	text-align: center;
	background-color: var(--bg-color);
	color: var(--accent-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
	opacity: 0.7;
}

a:hover {
	opacity:1.0;
}

ul {
	list-style-type: circle;
}

#title {
	text-decoration: underline;
	opacity: 0.7;
}

#lightswitch {
	padding-right:1em;
	padding-top:1em;
	font-size:12px;
}

.project {
	color: var(--accent-color);
	text-decoration: none;
	opacity: 0.4;
}

.project:hover {
	opacity:1.0;
}

.icon {
	font-size: 30px;
	margin-left: 7px;
	margin-right: 7px;
	opacity: 0.4;
}
