pre {
	font-family: "Inconsolata";
	font-size: 1vw;
}

p {
	font-family: "Inconsolata";
}
footer {
	text-align: center;
	font-family: "Lato";
	color:grey;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

a {
	color:grey;
}